.headers {
  background-color: #EEBECE;
}

.imgHeader {
	width: 100%;
}

@media (min-width: 991px) {
    .imgPerson {
		position: absolute;
		bottom: 14%;
	 	left: 45%;
	 	width: 10%
	}

	.buttonHeader {
		position: absolute;
		bottom: 19%;
	 	left: 43%;
	 	width: 15%;
	 	height: 60px;
	 	border-radius: 50px;
	}

	h1{
		position: absolute;
		left: 35%;
		top: 20%;
		font-weight: 900;
		color: #fff;
	}

	.headerText {
		font-style: italic;
		position: absolute;
		left: 41%;
		top: 29%;
		font-weight: 1000;
		color: #fff;
	}
}

@media (max-width: 991px) {
    .imgPerson {
		position: absolute;
		margin-top: 80px;
	 	left: 45%;
	 	width: 15%;
	 	height: 110px;
	}

	.buttonHeader {
		position: absolute;
		margin-top: 150px;
	 	left: 39%;
	 	width: 100px;
	 	height: 30px;
	 	border-radius: 50px;
	 	background-color: #fff;
	}
}
